@inject Microsoft.Extensions.Options.IOptions<SharpBlogX.Options.BlogOptions> BlogOptions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="SharpBlog,REInject,个人博客">
    <meta name="description" content="REInject的个人博客,用于记录生活积累笔记。">
    <title>@ViewData["Title"]@BlogOptions.Value.Title⭐⭐⭐</title>
    <base href="/" />
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/cnsimo/pic_bed@master/ZPy86P.png" />
    <link rel="stylesheet" href="@BlogOptions.Value.StaticUrl/css/app.css">
    <link rel="stylesheet" href="@BlogOptions.Value.StaticUrl/css/iconfont.css">
    @await RenderSectionAsync("styles", required: false)
    <script>
        const api = "@BlogOptions.Value.ApiUrl";
        const cdn = "@BlogOptions.Value.StaticUrl";
    </script>
</head>
<body>
    <div class="wrapper">
        @{ await Html.RenderPartialAsync("_Header"); }
        <div class="main">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        @{ await Html.RenderPartialAsync("_Footer"); }
    </div>
    <script src="@BlogOptions.Value.StaticUrl/live2d/L2Dwidget.min.js"></script>
    <script src="@BlogOptions.Value.StaticUrl/js/app.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>